:root {
  /* ↓ The modular scale */
  --s1: 0.25rem;
  --s2: calc(var(--s1) * 2);
  --s3: calc(var(--s1) * 3);
  --s4: calc(var(--s1) * 4);
  --s5: calc(var(--s1) * 5);
  --s6: calc(var(--s1) * 6);
  --border-thin: 1px;
  --border-thick: 2px;
}


.box {
  /* ↓ Padding set to the first point on the modular scale */
  padding: var(--s1);
  /* ↓ Assumes you have a --border-thin var */
  border: var(--border-thin) solid;
  /* ↓ Always apply the transparent outline, for high contrast mode */
  outline: var(--border-thin) transparent;
  outline-offset: calc(var(--border-thin) * -1);
  /* ↓ The light and dark color vars */
  --color-light: #fff;
  --color-dark: #000;
  color: var(--color-dark);
  background-color: var(--color-light);
  }
  .box * {
  /* ↓ Force colors to inherit from the parent
  and honor inversion (below) */
  color: inherit;
  }
  .box.invert {
  /* ↓ The color vars inverted */
  color: var(--color-light);
  background-color: var(--color-dark);}